body {
  background-image: url('../images/basketball-court-wallpaper-2018-in-basketball.jpg');
  background-size: cover;
}
.yeayea {
  color: white;
}

h1 {
  color: white;
  font-size: 50px;
}

.startMenu {
  text-align: center;
  color: white;
}

.rules {
  font-size: 40px;
}

.buttonX {
  font-size: 30px;
  background-color: yellow;
}

.gameMenu {
  text-align: center;
  visibility: hidden;
}

.choice {
  background-color: white;
 display: inline-block;
 width: 200px;
 height: 40px;
 font-size: 20px;
}

.scoreTracker {
  text-align: center;
  font-size: 100px;
  color: white;
  
}